.archieve {
    .archieve-container {
        padding: 10px 20px; // Adjust padding for spacing
        display: flex;
        align-items: center;
        justify-content: space-between;

        .archieve-ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            .archieve-item {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-right: 5px; // Spacing between archieve items
                }

                a {
                    color: $icon-color;
                    text-decoration: none;
                    font-weight: 400; // Bold text for links
                    font-size: 16px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                span {
                    color: #b1b1b1; // Color for separator and inactive items
                    margin: 0 5px;
                    font-size: 14px;
                }

                &.active a {
                    color: black;
                }

                .fa-home {
                    font-size: 16px; // Icon size

                    &:hover {
                        color: $dark-green;
                    }
                }
            }
        }

        .toggle-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            label {
                margin-left: 10px;
                font-size: 12px;
                color: black;
                font-weight: 700;
                margin-inline-start: 20px;
            }

            input[type="checkbox"] {
                appearance: none;
                width: 40px;
                height: 20px;
                background-color: #B1B1B1;
                border-radius: 10px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:checked {
                    background-color: #12B76A;
                }

                &:checked::before {
                    transform: translateX(20px);
                }

                &::before {
                    content: '';
                    width: 18px;
                    height: 18px;
                    background-color: #fff;
                    border-radius: 50%;
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    transition: transform 0.3s ease;
                }
            }
        }

    }

    .archieve-main {
        background-color: white;

        .archieve-search-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px;
            border-radius: 10px;
            margin-inline: 10px;

            .archieves {
                display: flex;
                align-items: flex-start;
                width: 100%;
                justify-content: inherit;

                .search-bar {
                    display: flex;
                    align-items: center;
                    border: 1px solid #CCC;
                    border-radius: 8px;
                    overflow: hidden;
                    width: 40%;
                    margin-inline-end: 5px;

                    input[type="text"] {
                        border: none;
                        padding: 10px 15px;
                        font-size: 14px;
                        outline: none;
                        width: 100%;
                        height: 51px;
                        color: #6c757d;
                    }

                    .search-btn {
                        background: $gradient-green;
                        color: white;
                        border: none;
                        padding: 8px 25px;
                        cursor: pointer;
                        font-size: 14px;
                        border-radius: 8px;
                        margin-inline-end: 5px;

                        &:hover {
                            background-color: darken($dark-green, 10%);
                        }
                    }

                    .search {
                        margin-inline-start: 10px;
                    }
                }

                .archieve-buttons {
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 400;

                    .custoum-butn {
                        @include flex-container(space-evenly, center);
                        width: 100%;
                        background-color: transparent;
                        border: 0px;

                        .archieve-btn {
                            background-color: white;
                            margin-inline: 5px;
                            border-radius: 3px;
                            padding: 6px 0px;
                            width: 15%;
                            border: 1px solid #E6E6E6;

                            .dropdown-toggle {
                                &:focus {
                                    box-shadow: none;
                                }

                                &::after {
                                    display: none;
                                }

                                .icon-drop {
                                    margin-inline-start: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .sec-container {
            margin-inline: 10px;

            .table {
                table-layout: fixed;
                border-radius: 4px;

                th {
                    padding-block: 12px;
                    border: none;
                }

                .table-archive {
                    background-color: #F2F4F5;

                    .one {
                        width: 298px;
                    }

                    .two,
                    .three {
                        width: 48px;
                        text-align: center;
                    }

                    .hidden {
                        width: 13px;
                    }

                    .th-arch {
                        width: 13px;
                    }

                    th {
                        font-size: 14px;
                        font-weight: 700;
                    }
                }

                tbody {
                    .tr-archieve {
                        .td-archieve {
                            text-align: center;

                        }

                        .zero-arch {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $dark-green;
                        }
                    }

                    td {
                        font-size: 16px;
                        font-weight: 400;
                        padding-block: 15px;
                        text-align: center;
                        border-bottom-width: 0px;
                    .open-col{
                        cursor: pointer;
                    }
                    }

                    .tr-archieve:nth-child(4n+1),
                    .tr-archieve:nth-child(4n+2) {
                        background-color: white;
                    }

                    .tr-archieve:nth-child(4n+3),
                    .tr-archieve:nth-child(4n+4) {
                        background-color: #F8F9FA;
                    }

                    tr {
                        font-size: 16px;
                    }
                    .tr-archieve {
                        &[aria-expanded="true"] {
                          .open-col {
                            cursor: pointer;
                            display: block;
                          }
                          .close-col {
                            display: none;
                          }
                        }
                      
                        &[aria-expanded="false"] {
                          .open-col {
                            display: none;
                          }
                          .close-col {
                            display: block;
                            cursor: pointer;
                          }
                        }
                      }
                      
                }
            }

            .page-archieve {
                width: 100%;

                .pagination {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .page-item {
                        width: 20%;
                        padding-block-end: 20px;

                        .page-link {
                            justify-content: space-between;
                            display: flex;
                            color: black;
                            border: none;
                            background-color: transparent;
                            font-size: 14px;
                            font-weight: 400;

                            &:hover {
                                color: #343a40;
                            }

                        }

                        .page-link-2 {
                            width: 100%;
                        }

                        .page-link-1 {
                            width: 32%;
                        }
                    }

                }
            }

        }


    }

}

@media (max-width:1460px) {
    .archieve {
        .archieve-main {
            .archieve-search-section {
                .archieves {
                    flex-direction: column;

                    .search-bar {
                        order: 1;
                        width: 99%;
                    }

                    .archieve-buttons {
                        order: 2;
                        margin-block-start: 10px;
                    }

                    .archieve-buttons {
                        width: 100%;

                        .custoum-butn {
                            width: 100%;

                            .archieve-btn {
                                .dropdown-toggle {
                                    img {
                                        margin-inline: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .sec-container {
                max-width: 100%;
                overflow-y: auto;
                margin: 0;

                .table {
                    table-layout: fixed;

                    .table-archive {
                        width: 100%;
                        .one {
                            width: 400px;
                        }

                        .two,
                        .three {
                            width: 150px;
                        
                        }

                        .hidden {
                            width: 30px;
                        }

                        .th-arch {
                            width: 30px;
                        }

                    }
                    tbody {
                        .tr-archieve {
                            .zero-arch {
                                display: table-cell;
                            }
                        }
                    }
                }

                .page-archieve {
                    .pagination {
                        .page-item {
                            width: 30%;

                            .page-link {}
                        }
                    }
                }

            }
        }
    }
}

@media (max-width:1200px) {
    .archieve {
        width: 100%;
        margin-top: 0px;

        .archieve-main {
            .archieve-search-section {
                .archieves {

                    .archieve-buttons {
                        align-items: flex-start;

                        .custoum-butn {
                            flex-wrap: wrap;
                            justify-content: flex-start;

                            .archieve-btn {
                                width: 47%;
                                margin-block: 5px;

                                .btn {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }
                            }
                        }
                    }
                }
            }
            .sec-container{
                .page-archieve {
                    .pagination {
                        .page-item {
                            width: 50%;

                            .page-link {}
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    .archieve {
        .archieve-container {
            flex-direction: column;
            justify-content: center;

            .archieve-ul {
                margin-block-end: 20px;
            }
        }

        .archieve-main {
            .archieve-search-section {
                .archieves {
                    .search-bar {
                        input[type="text"] {
                            font-size: 12px;
                        }
                        width: 96%;
                    }

                    .archieve-buttons {
                        .custoum-butn {
                            .archieve-btn {
                                width: 95%;
                            }
                        }
                    }
                }
            }
            .sec-container{
                .page-archieve {
                    .pagination {
                        flex-direction: column;
                        .page-item {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}