$gray: #707070;
$gradient-green:  linear-gradient(225.57deg, #8CC285 0%, #466143 164.87%);
$dark-green: #41843A;
$light-green: #DFFFE6;
$olive-green: #466143;
$dark-blue: #3B4754;
$light-gray: #B1B1B1;
$background-color:#EEEEEE;
$background-content:#F8F9FA;
$filter-btn:#EBEBEB;
$icon-color:#757575;