body {
  font-family: "Almarai", sans-serif;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #EEEEEE;
}
.header .date {
  color: #707070;
  font-size: 13px;
  font-weight: 400;
}
.header .date .item {
  margin-inline: 6px;
  height: 17px;
}

.navbar {
  box-shadow: 0 6px 6px -4px #EBEAED, 0 -4px 4px -4px #EBEAED;
}
.navbar .dropdown .btn:focus {
  box-shadow: none;
}
.navbar .dropdown .dropdown-toggle[aria-expanded=true]::after {
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid #000;
  border-left: 0.3em solid transparent;
}
.navbar .dropdown .rounded-circle {
  margin-inline-end: 6px;
}
.navbar .dropdown .dropdown-menu {
  width: 100%;
  border: none;
  box-shadow: 0 6px 6px -4px #EBEAED, 0 -4px 4px -4px #EBEAED;
  border-radius: 6px;
}
.navbar .dropdown .dropdown-menu hr {
  width: 85%;
  margin-inline: 5px;
}
.navbar .dropdown .dropdown-menu li {
  margin: 0.5rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .dropdown .dropdown-menu li a {
  font-size: 12px;
  padding: 0.3rem;
  margin-inline-start: 0.3rem;
}
.navbar .dropdown .dropdown-menu li .dropdown-item {
  width: 80%;
  text-align: start;
}
.navbar .dropdown .dropdown-menu li .dropdown-item.green {
  color: #41843A;
}
.navbar .dropdown .dropdown-menu li .dropdown-item:focus {
  color: #41843A;
  background-color: transparent;
}
.navbar .dropdown .dropdown-menu li.power a {
  font-weight: 700;
}
.navbar .dropdown .dropdown-menu li.group a {
  font-weight: 400;
}
.navbar .dropdown .dropdown-menu li img {
  width: 17.65px;
  height: 17.65px;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.parent .sidebar {
  width: 30%;
  transition: width 0.3s;
  position: relative;
  padding-left: 0px;
  box-shadow: -6px 0 6px -4px #EBEAED;
  height: 908px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.parent .sidebar .sidebar-ul {
  padding-inline-start: 8px;
  width: 100%;
  padding: 19px 0px;
}
.parent .sidebar .sidebar-ul li {
  width: 95%;
}
.parent .sidebar .sidebar-ul li .links {
  margin-block: 4px;
  padding: 10px 16px;
}
.parent .sidebar .sidebar-ul li .links:hover {
  background-color: #41843A;
  color: white !important;
  border-radius: 8px;
  padding: 10px, 16px, 10px, 16px;
}
.parent .sidebar .sidebar-ul li .links:hover .icon-sidebar {
  color: white !important;
}
.parent .sidebar .sidebar-ul li .links:hover .nav-link {
  color: white;
}
.parent .sidebar .nav-link,
.parent .sidebar .close {
  position: relative;
  color: #6E7887;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  padding: 2px 0px;
}
.parent .sidebar .close:hover {
  color: #6E7887;
}
.parent .sidebar .close {
  margin-inline-start: 13px;
}
.parent .sidebar .right-menue .dropdown-item:active {
  color: #41843A;
  background-color: transparent;
}
.parent .sidebar .nav-item .icon-sidebar {
  padding: 10px;
  color: #41843A;
}
.parent .sidebar .nav-item .drop-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.parent .sidebar .nav-item .drop-img:active {
  background-color: #DFFFE6;
  color: #41843A !important;
}
.parent .sidebar .nav-item .collapse .card {
  border: none;
  text-align: start;
}
.parent .sidebar .nav-item .collapse .card .dropdown-item {
  color: #B1B1B1;
  font-size: 0.9375rem;
}
.parent .sidebar .nav-item .collapse .card .dropdown-item:hover {
  color: #41843A;
  background-color: transparent;
}
.parent .sidebar .nav-item .collapse .card .dropdown-item:active {
  background-color: transparent;
  color: #41843A;
}
.parent .sidebar .nav-item .collapse .card .dropdown-item:focus {
  background-color: transparent;
  color: #41843A;
}
.parent .sidebar .custom-button {
  background-color: #E69D16;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
  width: 90%;
}
.parent .sidebar .custom-button .icon {
  margin-left: 10px;
  font-size: 20px;
}
.parent .sidebar .custom-button:hover {
  background-color: #d88e13;
}
.parent .sidebar.collapsed {
  width: 90px !important;
}
.parent .sidebar.collapsed .links {
  padding: 0px;
}
.parent .sidebar.collapsed .links .icon-sidebar {
  color: #B1B1B1;
}
.parent .sidebar.collapsed .links .icon-sidebar:hover {
  color: white;
}
.parent .sidebar.collapsed .right-menue {
  right: 100%;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
}
.parent .sidebar.collapsed .sidebar-ul .nav-item {
  width: 76%;
}
.parent .sidebar.collapsed .sidebar-ul .nav-item .collapse, .parent .sidebar.collapsed .sidebar-ul .nav-item .card {
  display: none !important;
}
.parent .links.active {
  background-color: #DFFFE6;
  color: #41843A !important;
  border-radius: 6px;
  padding: 5px 8px;
  overflow: hidden;
}
.parent .links.active .icon-sidebar {
  color: #41843A !important;
}
.parent .content {
  background-color: #F8F9FA;
}

@media (max-width: 1200px) {
  .parent .sidebar {
    width: 40%;
  }
  .parent .sidebar .nav-link {
    font-size: 14px;
  }
  .parent .sidebar .custom-button {
    padding: 11px 17px;
  }
}
@media (max-width: 1200px) {
  .parent {
    flex-direction: column;
  }
  .parent .sidebar {
    height: 280px !important;
    width: 100% !important;
    align-items: flex-start;
  }
  .parent .sidebar .sidebar-ul li {
    width: 98%;
    height: 47px;
  }
  .parent .sidebar .sidebar-ul .nav-item .nav-link {
    padding: 0px;
  }
  .parent .sidebar.collapsed {
    width: 100% !important;
    height: 219px !important;
  }
  .parent .sidebar.collapsed .sidebar-ul {
    flex-direction: row !important;
  }
  .parent .sidebar.collapsed .sidebar-ul li {
    width: 10%;
  }
  .parent .sidebar.collapsed .right-menue {
    right: -114%;
    top: 44px;
  }
  .parent .sidebar .custom-button {
    margin-inline-start: 20px;
  }
  .parent .sidebar .links {
    margin-block: 0px;
  }
  .parent .sidebar .nav-item .close-img {
    transform: rotate(-91deg);
  }
  .parent .sidebar .right-menue {
    width: 48%;
    right: 52%;
  }
}
.page-content {
  margin-top: 10px;
  width: 100%;
}
.page-content .frist-text {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 400;
}
.page-content .header-text {
  font-size: 16px;
  font-weight: bold;
  color: black;
  font-weight: 700;
  margin-block: 0.5rem;
}
.page-content .filter-search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: #F8F9FA;
  border-radius: 10px;
}
.page-content .filter-search-section .filters {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: inherit;
}
.page-content .filter-search-section .filters .search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 8px;
  overflow: hidden;
  width: 45%;
}
.page-content .filter-search-section .filters .search-bar input[type=text] {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
  width: 100%;
  height: 51px;
  color: #6c757d;
}
.page-content .filter-search-section .filters .search-bar .search-btn {
  background: linear-gradient(225.57deg, #8CC285 0%, #466143 164.87%);
  color: white;
  border: none;
  padding: 8px 25px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  margin-inline-end: 5px;
}
.page-content .filter-search-section .filters .search-bar .search-btn:hover {
  background-color: #30612a;
}
.page-content .filter-search-section .filters .search-bar .search {
  margin-inline-start: 10px;
}
.page-content .filter-search-section .filters .filter-buttons {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}
.page-content .filter-search-section .filters .filter-buttons .sort-btn {
  padding-right: 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 104px;
  height: 55px;
  border: 0.8px solid #EEEEEE;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-inline-end: 20px;
}
.page-content .filter-search-section .filters .filter-buttons .custoum-butn {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.8px solid #EEEEEE;
  padding: 8px 10px;
  border-radius: 5px;
  width: 84%;
}
.page-content .filter-search-section .filters .filter-buttons .custoum-butn .filter-btn {
  background-color: #EBEBEB;
  margin-inline: 5px;
  border-radius: 3px;
  width: 20%;
}
.page-content .filter-search-section .filters .filter-buttons .custoum-butn .filter-btn .dropdown-toggle:focus {
  box-shadow: none;
}
.page-content .filter-search-section .filters .filter-buttons .custoum-butn .filter-btn .dropdown-toggle img {
  margin-inline: 5px;
}
.page-content .filter-search-section .filters .filter-buttons .custoum-butn .filter-btn .dropdown-toggle::after {
  display: none;
}
.page-content .main-block {
  width: 100%;
  display: flex;
  justify-content: inherit;
  align-items: flex-start;
}
.page-content .main-block .transactions-section {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  width: 410px;
  /* Adjust width as necessary */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.page-content .main-block .transactions-section .header-transactions {
  text-align: start;
  margin-bottom: 15px;
}
.page-content .main-block .transactions-section .header-transactions .header-title {
  font-size: 16px;
  font-weight: bold;
  color: #41843A;
}
.page-content .main-block .transactions-section .transaction-list {
  max-height: 620px;
  overflow-y: auto;
}
.page-content .main-block .transactions-section .transaction-list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.page-content .main-block .transactions-section .transaction-list::-webkit-scrollbar-thumb {
  background-color: #B1B1B1;
  border-radius: 10px;
}
.page-content .main-block .transactions-section .transaction-item {
  margin-inline-end: 5px;
  cursor: pointer;
  display: flex;
  align-items: self-start;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.page-content .main-block .transactions-section .transaction-item.active {
  background: linear-gradient(225.57deg, #8CC285 0%, #466143 164.87%);
  color: white !important;
}
.page-content .main-block .transactions-section .transaction-item.active .status,
.page-content .main-block .transactions-section .transaction-item.active .title,
.page-content .main-block .transactions-section .transaction-item.active .date {
  color: white !important;
}
.page-content .main-block .transactions-section .transaction-item.active .icon-section {
  color: white !important;
}
.page-content .main-block .transactions-section .transaction-item.active .icon-section .font-icon {
  color: white !important;
}
.page-content .main-block .transactions-section .transaction-item .icon-section {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
}
.page-content .main-block .transactions-section .transaction-item .icon-section .font-icon {
  margin-inline-start: 5px;
  transform: rotate(-44deg);
  font-size: 13px;
  color: #41843A;
}
.page-content .main-block .transactions-section .transaction-item .content-section {
  flex-grow: 1;
}
.page-content .main-block .transactions-section .transaction-item .content-section .status {
  font-size: 12px;
  color: #466143;
  margin-bottom: 4px;
}
.page-content .main-block .transactions-section .transaction-item .content-section .title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.page-content .main-block .transactions-section .transaction-item .content-section .date {
  font-size: 10px;
  color: #999;
}
.page-content .main-block .sec-section {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  width: 80%;
  height: 708px;
  margin-inline-start: 10px;
}
.page-content .main-block .sec-section .message-container {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}
.page-content .main-block .sec-section .message-container .icons {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.page-content .main-block .sec-section .message-container .icons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}
.page-content .main-block .sec-section .message-container .icons .btn .icon {
  width: 16px;
  height: 16px;
}
.page-content .main-block .sec-section .message-container .icons .btn:last-child {
  margin-bottom: 0;
}
.page-content .main-block .sec-section .message-container .message-details .message-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.page-content .main-block .sec-section .message-container .message-details .message-item img {
  margin-inline-start: 5px;
}
.page-content .main-block .sec-section .message-container .message-details .message-item .label {
  font-weight: bold;
  color: #3b3b3b;
  margin-inline-end: 4px;
}
.page-content .main-block .sec-section .message-container .message-details .message-item .value {
  color: #3b3b3b;
}
.page-content .main-block .sec-section .message-container .message-details .message-item:last-child {
  margin-bottom: 0;
}
.page-content .main-block .sec-section .tabs-container {
  margin-top: 10px;
}
.page-content .main-block .sec-section .tabs-container .nav-tabs {
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 15px;
  padding-inline-start: 0px;
  border: none;
}
.page-content .main-block .sec-section .tabs-container .nav-tabs .nav-item {
  margin-bottom: -1px;
  display: inline-block;
}
.page-content .main-block .sec-section .tabs-container .nav-tabs .nav-item .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #3B4754;
  font-size: 11px;
}
.page-content .main-block .sec-section .tabs-container .nav-tabs .nav-item .nav-link .tap-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-block-end: 9px;
  border: 2px solid transparent;
}
.page-content .main-block .sec-section .tabs-container .nav-tabs .nav-item .nav-link.active {
  background-color: #ffffff;
  color: black;
  font-weight: 700;
}
.page-content .main-block .sec-section .tabs-container .nav-tabs .nav-item .nav-link.active .tap-img {
  border: 2px solid #41843A;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane {
  padding: 20px;
  border-top: none;
  background-color: #ffffff;
  max-height: 450px;
  overflow-y: auto;
  direction: rtl;
  padding-right: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #B1B1B1 transparent;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane::-webkit-scrollbar {
  width: 8px;
  /* Set your scrollbar width */
  height: 8px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane::-webkit-scrollbar-thumb {
  background-color: #B1B1B1;
  /* Set your scrollbar thumb color */
  border-radius: 10px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .header-msg {
  width: 100%;
  display: flex;
  justify-content: inherit;
  align-items: flex-start;
  margin-bottom: 20px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .header-msg .one,
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .header-msg .two {
  width: 50%;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .header-msg .one {
  color: #41843A;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .header-msg .one .num {
  margin-inline: 5px;
  margin-top: 5px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .header-msg .two {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .header-msg .two span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F9FA;
  width: 90px;
  padding: 11px, 11px, 11px, 11px;
  border-radius: 5px;
  cursor: pointer;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .header-msg .two span img {
  margin-inline-start: 5px;
  width: 18px;
  height: 18px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification {
  background-color: #fff;
  border: 1px solid #B1B1B1;
  border-radius: 8px;
  padding-inline-end: 1rem;
  padding-top: 0px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-header .frist {
  display: flex;
  align-items: center;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-header .frist .count-not {
  border-radius: 0px 3px 0px 3px;
  background-color: #466143;
  color: #fff;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1.5rem;
  font-weight: bold;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-header .frist .category {
  font-weight: bold;
  display: flex;
  margin-inline: 10px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-header .frist .category .label {
  color: #3B4754;
  margin-left: 0.5rem;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-header .date-not {
  color: #707070;
  font-size: 0.875rem;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body {
  margin-block: 0.5rem;
  padding-inline-start: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body .from,
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body .to {
  display: flex;
  margin-bottom: 0.25rem;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body .from img,
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body .to img {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body .from .label,
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body .to .label {
  font-weight: 800;
  color: #3B4754;
  margin-left: 0.5rem;
  font-size: 15px;
  margin-inline: 5px;
  text-wrap: nowrap;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container {
  height: 400px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .header-msg img {
  margin-inline: 5px;
  margin-bottom: 3px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment {
  background-color: #fff;
  border: 1px solid #B1B1B1;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment .attachment-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment .attachment-info .date,
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment .attachment-info .type,
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment .attachment-info .user {
  font-size: 0.875rem;
  color: #707070;
  margin-inline-start: 40px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment .attachment-info .edit-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: linear-gradient(225.57deg, #8CC285 0%, #466143 164.87%);
  color: white;
  border: none;
  padding: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment .attachment-info .edit-button .font-att {
  font-size: 12px;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment .attachment-details {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #707070;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment .attachment-details p {
  margin: 0.25rem 0;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .sec-att {
  position: relative;
  cursor: pointer;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .sec-att:hover .attachment-details {
  display: block;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment-details {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 3px;
  position: absolute;
  display: none;
  transition: all 0.4s ease;
}
.page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .attachments-container .attachments .attachment-details p {
  margin-block: 0.2rem;
  color: #707070;
  font-size: 0.875rem;
}

@media (max-width: 1460px) {
  .page-content .filter-search-section .filters {
    flex-direction: column;
  }
  .page-content .filter-search-section .filters .search-bar {
    order: 1;
    width: 100%;
  }
  .page-content .filter-search-section .filters .filter-buttons {
    order: 2;
    margin-block-start: 10px;
  }
  .page-content .filter-search-section .filters .filter-buttons {
    width: 100%;
  }
  .page-content .filter-search-section .filters .filter-buttons .custoum-butn {
    width: 100%;
  }
  .page-content .filter-search-section .filters .filter-buttons .custoum-butn .filter-btn .dropdown-toggle img {
    margin-inline: 10px;
  }
  .page-content .notification-body {
    flex-direction: column;
    height: 66px;
  }
  .page-content .notification-body .from,
  .page-content .notification-body .to {
    width: 100%;
  }
  .page-content .notification-body .from {
    margin-block-end: 10px;
  }
  .page-content .notification-body .to {
    margin-inline-start: 32px;
  }
}
@media (max-width: 1200px) {
  .page-content {
    width: 100%;
    margin-top: 0px;
  }
  .page-content .filter-search-section .filters .filter-buttons {
    align-items: flex-start;
  }
  .page-content .filter-search-section .filters .filter-buttons .custoum-butn {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .page-content .filter-search-section .filters .filter-buttons .custoum-butn .filter-btn {
    width: 46%;
    margin-block: 5px;
  }
  .page-content .filter-search-section .filters .filter-buttons .custoum-butn .filter-btn .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-content .main-block {
    flex-direction: column;
    width: 100%;
  }
  .page-content .main-block .transactions-section {
    width: 100%;
  }
  .page-content .main-block .sec-section {
    width: 100%;
    height: 100%;
    margin-block-start: 10px;
    margin-inline-start: 0px;
  }
  .page-content .main-block .sec-section .tabs-container .tab-content .tab-pane {
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 0px;
  }
  .page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification .notification-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification .notification-header .date-not {
    margin-inline-start: 52px;
  }
  .page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body {
    padding-inline-start: 0.3rem;
  }
  .page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body .text {
    font-size: 13px;
  }
  .page-content .main-block .sec-section .tabs-container .tab-content .tab-pane .tab-item .notifications-container .notification-body .from {
    margin-block-end: 0px;
  }
  .page-content .main-block .transactions-section .transaction-list {
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@media (max-width: 600px) {
  .page-content .img-flag {
    display: none;
  }
  .page-content .filter-search-section .filters .search-bar input[type=text] {
    font-size: 12px;
  }
  .page-content .filter-search-section .filters .filter-buttons .custoum-butn .filter-btn {
    width: 95%;
  }
}/*# sourceMappingURL=main.css.map */